<h1>{{title}}를 전달 받았당!</h1>
<p>{{title}}님 안녕하쇼!!!</p>
{% set innerValue = '내부 값' %}
<p>내부 값은 {{innerValue}} 입니다.</p>

<p>{{'<h1><></h1>'}}</p>
<p>{{'<h1><></h1>'|safe}}</p>

<ul>
    {% for item in fruits %}
        <li>{{item}}</li>
    {% endfor %}
</ul>

<ul>
    {% for item in fruits %}
        <li>{{loop.index}}번째 {{item}}</li>
    {% endfor %}
</ul>

{% if isloggedin == 0 %}
<p>회원 가입하세요.</p>
{% elif isloggedin == 1 %}
<p>어서 오세요</p>
{% elif isloggedin == 2 %}
<p>비밀번호를 다시 입력하세요.</p>
{% else %}
<p>알 수 없는 오류</p>
{% endif %}

{% include "component.html" %}