/* src/App.css */
.App {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .carousel {
    margin: 10px auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 5px 8px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
  }

  h2 {
    background-color: rgb(255, 255, 255);
  }

  * {
    background-color: rgb(163, 255, 224);
  }
  